#tour {
    background-color: #fab325;
    padding: 20px;
}
#tour .heading {
    max-width: 700px;
    margin: 0 auto;
}
#tour .heading h2 {
    color: black;
    font-size: 28px;
}
#tour .heading .hr {
    display: block;
    width: 140px;
    margin: 20px auto;
    border: 1px solid black;
}
#tour .heading p {
    text-align: center;
}